{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "AzureWebJobsStorage": "<CONNECTION_STRING_STORAGE_O_UseDevelopmentStorage=true>",

    "SERVICENOW_INSTANCE": "<NOME_ISTANZA_SERVICENOW>",
    "SERVICENOW_USER": "<UTENTE_INTEGRAZIONE_READONLY>",
    "SERVICENOW_PASSWORD": "<PASSWORD>",
    "SERVICENOW_TABLE": "incident",
    "SERVICENOW_CLOSED_STATES": "6,7",

    "SERVICENOW_AUTH_MODE": "basic",
    "SERVICENOW_OAUTH_CLIENT_ID": "<OAUTH_CLIENT_ID>",
    "SERVICENOW_OAUTH_CLIENT_SECRET": "<OAUTH_CLIENT_SECRET>",
    "SERVICENOW_OAUTH_TOKEN_PATH": "/oauth_token.do",

    "SERVICENOW_RESOLVER_GROUPS": "",
    "SERVICENOW_CONFIGURATION_ITEMS": "",
    "SERVICENOW_PAGE_SIZE": "200",
    "SERVICENOW_TIMEOUT_SECONDS": "60",
    "SERVICENOW_MAX_RETRIES": "5",

    "WATERMARK_OVERLAP_MINUTES": "15",

    "SEARCH_ENDPOINT": "https://<NOME_SERVIZIO_SEARCH>.search.windows.net",
    "SEARCH_INDEX_NAME": "<NOME_INDICE_DESIDERATO>",
    "SEARCH_USE_AAD": "false",
    "SEARCH_ADMIN_KEY": "<ADMIN_KEY_SEARCH>",
    "SEARCH_API_VERSION": "2024-07-01",
    "SEARCH_WRITE_BATCH_SIZE": "500",

    "AOAI_ENDPOINT": "https://<NOME_RISORSA_AOAI>.openai.azure.com",
    "AOAI_API_KEY": "<API_KEY_AOAI>",
    "AOAI_DEPLOYMENT": "<NOME_DEPLOYMENT_EMBEDDING>",
    "AOAI_MODEL": "text-embedding-3-small",
    "AOAI_DIMENSIONS": "1536",
    "AOAI_API_VERSION": "2024-02-01",
    "AOAI_BATCH_SIZE": "16",

    "WATERMARK_BLOB_CONTAINER": "ingestion-state",
    "WATERMARK_BLOB_NAME": "watermark.json",
    "WATERMARK_LOCAL_PATH": ".state/watermark.json"
  }
}
